.maintainBlogsContainer {
  width: 100vw;
  height: 100vh;
  display: flex;
  margin-left: 30px;
  //justify-content: start;
}

.blogTabs {
  //background: #FFF8B7;
  width: 92.5vw;
  height: 100vh;
}

.ui.bottom.attached.segment.active.tab {
  height: 80vh !important;
}

.ui.card, .ui.cards.card {
  width: 240px !important;
}