.maintainBlogsContainer {
  width: 100vw;
  height: 100vh;
  display: flex;
  margin-left: 30px;
  justify-content: center;
}

.blogTabs {
  //background: #FFF8B7;
  width: 70vw;
  height: 100vh;
  overflow: -moz-scrollbars-vertical;
}

.ui.bottom.attached.segment.active.tab {
  background: black !important;
  border: none !important;
}

.ui.bottom.attached.segment.active.tab {
  height: 80vh !important;
}

.ui.card, .ui.cards.card {
  width: 240px !important;
}