.newBlogContainer {
  display:flex;
  flex-direction: column;
  align-items: flex-start;
  height: 300px;
}

.authPasswordContainer {
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ui.block.header.blogFormHeader {
  width: 35%;
}

.blogForm {
  background: #ffffff;
  border: 1px solid #ddd;
  padding: 20px !important;
}