.blogContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.blog {
  margin-top: 30px;
  color: white;
  width: 60%;
  height: 500px;
  border: 1px white solid;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  -moz-box-shadow:    inset 0 0 10px #ffffff;
  -webkit-box-shadow: inset 0 0 10px #ffffff;
  box-shadow:         inset 0 0 10px #ffffff;
  overflow: scroll;
}


@media screen and (max-width: 600px) {
  .blog {
    width: 80%;
  }
}
