body {
  background: black !important;
}

.banner {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 75%
}

.dinnerClubTitle {
  font-family: 'Great Vibes', cursive !important;
  color: #f73677 !important;
  font-size: 55px !important;
  display: flex !important;
  align-items: center !important;
  -webkit-transition: all 0.3s ease !important;
  -moz-transition: all 0.3s ease !important;
  -o-transition: all 0.3s ease !important;
  -ms-transition: all 0.3s ease !important;
}

.homeText {
  color: white !important;
  font-family: 'Source Sans Pro', sans-serif !important;
  text-align: center !important;
}

.instagram {
  height: 60px;
  width: auto;
  margin-top: 20px;
}

.moustache {
  height: 230px;
  width: auto;
}

.homeImages {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.homeTitleButton {
  background-color: black;
  border: 0px solid black;
}

.homeTitleButton :hover {
  font-size: 60px;
}

.boobs {
  height: 40px;
  width: 40px;
}

@media screen and (max-width: 600px) {
  .dinnerClubTitle {
    font-size: 40px;
    margin-top: 50px;
  }

  .boobs {
    height: 0px;
    width: 0px;
  }
}