body {
  background: black;
}

.banner {
  display: flex;
  justify-content: space-around;
}

.dinnerClubTitle {
  font-family: 'Great Vibes', cursive;
  color: #c21e56;
  font-size: 45px;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 600px) {
  .dinnerClubTitle {
    font-size: 40px;
    margin-top: 130px;
  }
}